.text { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 50px;
  margin-left: 810px;
  margin-right: auto;
  width: 250px;
  height: 250px;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  border-radius: 75px;
  transition: 1s box-shadow;   
} 

.text:hover{
         box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.text:hover::before, 
.text:hover::after {
         display: block;
         content: '';
         position: absolute;
         width: 250px;
         height: 250px;
         background: #FDA8CF;
         border-radius: 75px;
         z-index: -1 ;
         animation: 1s clockwise infinite;
}

.text:hover::after{
         background: #F3CE5E;
         animation: 2s counterclockwise infinite;
}

@keyframes clockwise{
          0%{
           top: -5px;
           left: 0;
          }
          12%{
              top: -2px;
              left: 2px;
          }
          25%{
              top: -5%;
              left: 0% ;
          }
          37%{
              top: 2px;
              left: 2px ;
          }
          50%{
              top: 5px;
              left: 0px ;
          }
          62%{
              top: 2px;
              left: -2px ;
          }
          75%{
              top: 0px;
              left: -5px ;
          }
          87%{
              top: -2px;
              left: -2px ;
          }
          100%{
              top: -5px;
              left: 0px ;
          }
}

@keyframes counterclockwise{
          0%{
              top: -5px;
              left: 0px ;
          }
          12%{
              top: -2px;
              left: 2px ;
          }
          25%{
              top: -5%;
              left: 0% ;
          }
          37%{
              top: 2px;
              left: 2px ;
          }
          50%{
              top: 5px;
              left: 0px ;
          }
          62%{
              top: 2px;
              left: -2px ;
          }
          75%{
              top: 0px;
              left: -5px ;
          }
          87%{
              top: -2px;
              left: -2px ;
          }
          100%{
              top: -5px;
              left: 0px ;
          }
}

.textdos {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
  text-align: center;
  background-color: red;
  color: white;
  width: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem; }

* {
  padding: 0%;
  margin: 0%; }

/* <INDEX> */
h2 {
  font-size: 60px;
  font-family: serif;
  color: white; }

.subT {
  font-size: 35px; }

.nav {
  background-color: black;
  gap: 20px;
  display: grid;
  text-align: center; }

@media (max-width: 600px) {
  .titulo {
    display: none; } }

.principal, .user {
  gap: 20px;
  display: grid; }

@media (max-width: 600px) {
  img {
    width: 40%; } }

@media (min-width: 1000px) {
  img {
    width: 70%; }
  .nav {
    display: grid;
    grid-template-columns: 70% 30%; }
  a {
    margin-top: 0;
    color: white; }
  .principal {
    display: flex;
    align-items: center;
    gap: 20px; }
  .user {
    display: flex;
    align-items: center;
    gap: 20px; }
  a:hover {
    background-color: red;
    color: black;
    text-decoration: none; } }

h1 {
  font-size: 6rem; }



.imagUno {
  display: grid;
  grid-template-rows: 20px;
  row-gap: 40px;
  width: 60%;
  margin-top: 40px;
  margin-left: 570px; }

.footer {
  display: block;
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 950px;
  height: 200px; }
