* {
  margin: 0px;
  padding: 0px; }

header {
  display: flex;
  height: 200px;
  background-color: black;
  right: 0px;
  left: 0px;
  padding-bottom: 40px; }
  header .logo {
    justify-content: start;
    width: auto; }
    header .logo img {
      width: auto; }
  header .nombre-libreria ul {
    margin-top: 30px;
    align-items: center;
    justify-content: center; }
    header .nombre-libreria ul .Titulo {
      font-size: 60px;
      color: white; }
    header .nombre-libreria ul .Subtitulo {
      color: white;
      font-size: 2em;
      justify-content: center;
      align-items: center;
      padding-left: 50px; }
    header .nombre-libreria ul #subT {
      justify-content: center;
      align-items: center;
      margin-top: 10px; }
  header nav {
    margin-top: 150px; }
  header .nav-links li {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    list-style: none; }
  header .nav-user li {
    justify-content: end;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    list-style: none; }
  header a {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none; }

@media (max-width: 1150px) {
  .nombre-libreria {
    flex-direction: column; }
  nav {
    flex-direction: column; } }

@media (max-width: 820px) {
  .nombre-libreria {
    content: none; }
  nav {
    flex-direction: column; } }

@media (max-width: 450px) {
  .nombre-libreria {
    content: none; }
  nav {
    flex-direction: column; } }

* {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.footer-container {
  background-color: black;
  padding-bottom: 4rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 5rem; }
  .footer-container .footer {
    width: 80%;
    height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0  auto; }
    .footer-container .footer .footer-header {
      display: flex;
      flex-direction: column;
      margin-right: 4rem;
      margin-top: 20px; }
    .footer-container .footer .footer-header h2 {
      font-size: 2em;
      font-weight: 500;
      margin-bottom: 1rem; }
    .footer-container .footer .footer-header a {
      font-size: large;
      color: white;
      text-decoration: none;
      margin-bottom: 0.5rem; }

@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh; }
  .footer-container {
    margin-top: 4rem; } }

@media screen and (max-width: 820px) {
  .footer {
    padding-top: 2rem; } }
