*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer{
    background-color: black;
    width: auto;
    align-items: center;

    .divFooter {
        color: white;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        position: relative;
        

    } 

        

        .linksFooter{
            display:  inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255,255,255,0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;

        }
        
        .linksFooter a:hover{
            color: #24262b;
            background-color: #ffffff;


        }
        ul,li{

            list-style: none;
            align-content: space-between;
        }
}    