*{
    margin: 0px;
    padding: 0px;
    
}   

header{
    display: grid;
    grid-template-columns: 200px 569px 400px 400px;
    column-gap: 50px;
    height: 200px;
    background-color: black;
    


    .logo{
        width: auto;        
        img{
            width: auto;
        }
    }

    .nombre-libreria{
        
    
            ul{
               margin-top:30px;
                .Titulo{
                    font-size: 60px;
                    color: white;

                    
                }
                .Subtitulo{
                    color: white;
                    font-size: 2em;
                    margin-left: 50px;                     
                }  
                #subT{
                    margin-top: 10px;
                }
            }
    }
            nav{
                margin-top: 150px;
            }


            .nav-links li{
                display: inline-block ;
                padding: 0 20px;
                list-style: none;



            }
            .nav-user li{
                @extend .nav-links;
                
            }
                a{ 
                    font-weight: 500;
                    font-size: 20px;
                    text-decoration: none;
                }
        
}


